<% title 'Recipes' %>

<table>
  <thead class='border-b'>
    <tr>
      <th class='font-medium px-6 py-4 text-left'>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr class='border-b'>
        <td class='px-6 py-4 text-slate-500'><%= recipe.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
