<table>
  <thead class='border-b border-slate-500'>
    <tr>
      <% columns.each do |column| %>
        <th class='font-medium py-4 text-left'><%= column %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% rows.each do |row| %>
      <tr class='border-b border-slate-500 py-4 text-slate-500'>
        <%= yield row %>
      </tr>
    <% end %>
  </tbody>
</table>
