<table>
  <thead class='border-b border-slate-500'>
    <% columns.each do |column| %>
      <tr>
        <th class='font-medium py-4 text-left'><%= column %></th>
      </tr>
    <% end %>
  </thead>

  <tbody>
    <% rows.each do |row| %>
      <tr class='border-b border-slate-500'>
        <td class='py-4 text-slate-500' >
          <%= yield row %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
