name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  ci:
    runs-on: ubuntu-latest

    env:
      RAILS_ENV: test

    services:
      postgres:
        image: postgres:14.5
        env:
          POSTGRES_PASSWORD: password
        ports: 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Pull code
        uses: actions/checkout@v2

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'
          bundler-cache: true

      - name: setup database
        run: bin/rails db:create db:schema:load

      - name: Run linter
        run: bundle exec rubocop

      - name: Run tests
        run: bundle exec rspec
